* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.max-width-100 {
  max-width: 1300px;
}
.width-900 {
  max-width: 980px;
}
.margin-auto {
  margin: 0 auto;
}
.txalign-center {
  text-align: center;
}

.width-100per {
  width: 100%;
}

.height-250 {
  height: 250px;
}

.obj-cover {
  object-fit: cover;
}

.display-flex {
  display: flex;
}

.font-12 {
  font-size: 12px;
}

.txalign-left {
  text-align: left;
}

.width-170 {
  width: 170px;
}

.border-none {
  border: none;
}

.outlin-none {
  outline: none;
}

.border-1-sol-ddd {
  border: 1px solid #ddd;
}

.height-25px {
  height: 25px;
}
.back-col-2F82C4 {
  background-color: #2f82c4;
}

.col-fff {
  color: #fff;
}

.col-ddd {
  color: #ddd;
}

.width-20 {
  width: 20px;
}

.height-20 {
  height: 20px;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.top-21 {
  top: 21px;
}

.left-30 {
  left: 30px;
}

.left-40 {
  left: 40px;
}

.margin-y-30 {
  margin: 30px 0 30px 0;
}

.flex-1 {
  flex: 1;
}

.width-50 {
  width: 50px;
}

.width-100 {
  width: 100px;
}

.apper-none {
  appearance: none;
}

.color-aaa {
  color: #aaa;
}

.padding-left-5 {
  padding-left: 5px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

th,
td {
  width: 100px;
}

td {
  height: 90px;
  padding: 0 10px 0 10px;
}

th {
  padding-top: 20px;
}

.font-10 {
  font-size: 10px;
}

tr td:last-child {
  width: 120px;
}

button {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #101f6d;
  color: white;
  padding: 5px 6px;
  font-size: 10px;
}
.desc-product {
  position: relative;
}

.desc-product .sound-off,
.sound-on {
  background-color: rgb(224, 224, 224);
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.active {
  display: none;
}
